@(todoForm: Form[Todo], todos: Set[Todo])(implicit request: MessagesRequestHeader)

@main("Todos") {
  <div class="w3-container w3-indigo">
    <h3>Todo</h3>
  </div>
  <div class="w3-container">
    @helper.form(action = routes.TodoController.add()) {
      @helper.CSRF.formField
      @helper.inputText(todoForm("task"))
      <button class="w3-button" style="padding-bottom: 10px">Add</button>
    }
  </div>
  <div class="w3-container w3-indigo">
    <h3>Todos [@todos.size]</h3>
  </div>
  <div>
    <ul class="w3-ul  w3-border w3-hoverable">
      @for(todo <- todos) {
        <li>@todo.task</li>
      }
    </ul>
  </div>
}